.bxs-down-arrow{
    font-size: 10px;
}
.reveal{
  opacity: 0;
  display: none;
}
.div-reveal .reveal{
  transition: all .5s;
  transform: translateY(30px);
  display: flex;
  z-index: -10;
}
.div-reveal:hover .reveal{
  opacity: 1;
  transform: translateY(0px);
  z-index: 10;
}

.nav{
  animation: zoom 1s ease-in-out;
  animation-delay: calc(.1s * var(--i));
}